firebase_admin>=6.5.0
gdown>=4.7.1
google-api-python-client>=2.100.0 
langchain>=0.1.17
moviepy>=1.0.3
openai_whisper>=20231117
Pillow>=10.3.0
protobuf>=5.26.1
python-dotenv>=1.0.1
requests>=2.31.0
whisper>=1.1.10
yt-dlp>=2023.12.30
